Pygments==2.6.1
Sphinx==2.4.4
assertpy==1.0
bandit==1.6.2
black==19.10b0
bump2version==1.0.0
coverage==5.0.3
flake8-isort==2.8.0
flake8==3.7.9
pip==19.2.3
pytest-cov==2.8.1
pytest-runner==5.1
pytest==5.3.5
tox-gh-actions==0.3.0
tox==3.14.5
twine==1.14.0
watchdog==0.10.2
wheel==0.34.2
